pydantic
PyYAML
urllib3
jq
terminaltables
sqlalchemy
passlib
pymysql
fastapi
packaging
python_obfuscator
zlib_wrapper
pycryptodome
cryptography
macholib
dropbox
jinja2
flask
xlrd
xlutils
websockify
socketio
wheel
netifaces
python-socketio
uvicorn
python-jose
python-multipart
